[package]
name = "rstcmalloc-bench"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
rstcmalloc = { path = "..", features = ["nightly"] }
criterion = { version = "0.8.2", features = ["html_reports"] }
mimalloc = "0.1"

[[bench]]
name = "alloc_bench"
harness = false
